{% extends "base/base.html" %}
{% load vite %}

{%block title %} HTMX {% endblock %}

{%block content %}
<h1>htmx</h1>

<div id="replaceme" class="px-5">
  <div class="row">

    {% for column in columns %}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h5 class="card-title m-0">Todo</h5>
            <i class="fa-solid fa-ellipsis cursor p-2"></i>
          </div>
          <div class="htmxcreateTodo-{{ column.id }}" data-columnid="{{column.id}}">
            {% for item in column.todos.all %}
            <div class="card p-2 mb-3 coolhoverpedrito todo{{ item.id }}" data-todoid="{{item.id}}">
              <span hx-trigger="dblclick" hx-get="/htmx/htmx_editTodo/{{item.id}}/" hx-swap="outerHTML">
                {{ item.name }}
              </span>
              <button hx-delete="/htmx/htmx_delete/{{item.id}}/" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target=".todo{{ item.id }}" hx-swap="outerHTML" class="btn btn-light p-1 py-0 supertacha"><i class="fa-solid fa-xmark"></i></button>
            </div>
            {% endfor %}
          </div>
          <button hx-post="/htmx/htmx_createTodo/{{column.id}}/" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target=".htmxcreateTodo-{{ column.id }}" hx-swap="beforeend" type="button" class="btn btn-light"><i class="fa-solid fa-plus me-1"></i> Agregar nueva tarea</button>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>
</div>

{% endblock %}

{%block scripts %}
<script src="https://unpkg.com/htmx.org@2.0.4"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script>

   function init(){
   {% for column in columns %}
   new Sortable(document.querySelector(".htmxcreateTodo-{{ column.id }}"), {
      group: 'shared', // set both lists to same group
      animation: 150,
      ghostClass: "ghost",

      // Event when you move an item in the list or between lists
      onEnd: function (evt) {
        const todoid = evt.item.dataset.todoid
        const columnid = evt.to.dataset.columnid
        htmx.ajax('GET', `/htmx/htmx_moveTodo/${todoid}/${columnid}/`, {target:'#replaceme', swap:'outerHTML', select: "#replaceme"})
      },
   });
   {% endfor %}
  }

  init()

  document.body.addEventListener("htmx:afterSwap", function(event) {
    if (event.target.id === "replaceme") {
        init()
    }
});

</script>
{% endblock %}


{%block styles %}
<style>
  .coolhoverpedrito {
    position: relative;
  }
  
  .coolhoverpedrito:hover .supertacha {
    visibility: visible;
    z-index: 4;
    opacity: 0.2;
  }
  
  .supertacha {
    position: absolute;
    right: 10px;
    visibility: hidden;
  }
  
  .ghost {
    opacity: 0.2;
  }
  </style>
{% endblock %}